@charset "utf-8";
/* body */

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.header-logo {
  width: 210px;
  margin-top: 35px;
}

.header-nav {
  margin-top: 35px;
}

.nav-list {
  display: flex;
  justify-content: end;
}

.nav-item + .nav-item {
  margin-left: 40px;
}

/* kv */
.kv {
  width: 100%;
  margin: 35px 0 auto;
}

/* main */
.about {
  display: flex;
  position: relative;
}

.section-ttl {
  font-size: 50px;
  font-weight: bold;
  color: #000;
  text-align: center;
}

.about-txt {
  position: absolute;
  z-index: 0;
}

.about-txt-bg {
  width: 637px;
  height: 360px;
  position: absolute;
  z-index: -10;
}

