@charset "utf-8";
/* body */

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.header-logo {
  width: 204px;
  margin-top: 35px;
}

.header-nav {
  margin-top: 35px;
}

.nav-list {
  display: flex;
  justify-content: end;
}

.nav-item + .nav-item {
  margin-left: 40px;
}

